@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <form class="form form--login framed" action="account/google-login">
        <center><h1>MovieApp</h1></center>
        <input type="submit" value="Log in with Google" class="input input--submit" />
    </form>
</body>
</html>